/*NORMALIZE*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}



/**/
.contenedor-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


        /*INDEX*/


/*HEADER*/
#header {
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    border-bottom: 1px solid #1F1C18;
}

#header img {
    height: 3em;
    width: 70%;
}


/*INDEX-MAIN*/

#main {
    width: 90%;
    padding: 2.5em 0em;
}

.banner-img {
    margin-top: 4em;
}
.banner-img img {
    width: 100%;
}

.box-parrafo-index {
    border: 1px solid;
    border-radius: .5625em 0em .5625em 0em;
    margin: 2em 0em 4em 0em;
}

.box-parrafo-index p {
    margin-bottom: 0;
    padding: .725em;
}

.box-imagenes-index {
    width: 100%;
    height: 80em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-imagenes-index img {
    width: 18.125rem;
    height: 18.125rem;
    object-fit: cover;
}

/*FOOTER*/


#footer {
    width: 100%;
    background: linear-gradient(to left, #1F1C18, #8E0E00);
    border-top: 1px solid #1F1C18;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-redes-sociales {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-creador {
    margin: 0;
    font-size: 1.2em;
    color: #fff;
}

.text-creador span {
    font-style: italic;
}

.fab {
    color: #fff;
}


        /*DISCOGRAFIA*/


.box-discografia {
    width: 100%;
    height: 124em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-discografias {
    width: 18.125rem;
    height: 18.125rem;
    border: 1.5px solid #1F1C18;
}

.box-media {
    width: 100%;
    height: 67em;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box-youtube {
    width: 100%;
    height: 43.75em;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


        /*Galeria*/


.gallery {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-img {
    width: 18.125rem;
    height: 18.125rem;
    object-fit: cover;
    border: 1.5px solid #1F1C18;
}


/*MEDIA*/

.box-media-live {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.live-title {
    text-align: center;
    margin-bottom: 1em;
}

.media-live {
    width: 100%;
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


        /**NOTICIAS*/


.box-noticias {
    width: 100%;
    height: 150em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}