/*NORMALIZE*/

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}



.container-fluid {
    padding: 0;
}

/**/
.contenedor-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;

}


        /*INDEX*/


/*HEADER*/
#header {
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    border-bottom: 1px solid #1F1C18;
    padding: 0;
}

#header img {
    height: 3rem;
    width: 70%;
}


/*INDEX-MAIN*/

#main {
    width: 90%;
    padding: 2.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-img {
    margin-top: 4rem;
}
.banner-img img {
    width: 100%;
}

.box-parrafo-index {
    border: 1px solid;
    border-radius: .5625rem 0em .5625rem 0rem;
    margin: 2rem 0rem 4rem 0rem;
}

.box-parrafo-index p {
    margin-bottom: 0;
    padding: .725rem;
    font-weight: 500;
}

.box-imagenes-index {
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box-imagenes-index img {
    width: 18.125rem;
    height: 18.125rem;
    object-fit: cover;
}

/*FOOTER*/


#footer {
    width: 100%;
    background: linear-gradient(to left, #1F1C18, #8E0E00);
    border-top: 1px solid #1F1C18;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-redes-sociales {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-creador {
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 0rem;
}

.text-creador span {
    font-style: italic;
    text-decoration: underline;
}

.fab {
    color: #fff;
}


        /*DISCOGRAFIA*/


.box-discografia {
    width: 100%;
    height: 124rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-discografias {
    width: 18.125rem;
    height: 18.125rem;
    border: 1.5px solid #1F1C18;
}

.box-media {
    width: 100%;
    height: 67rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box-youtube {
    width: 100%;
    height: 43.75rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


        /*Galeria*/


.gallery {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-img {
    width: 18.125rem;
    height: 18.125rem;
    object-fit: cover;
    border: 1.5px solid #1F1C18;
}


/*MEDIA*/

.box-media-live {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.live-title {
    font-size: 2rem;
    font-weight: 500;
    border-bottom: #1F1C18;
    text-align: center;
}

.media-live {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


        /**NOTICIAS*/


.box-noticias {
    width: 100%;
    height: 150rem;
    max-width: 18.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.noticias.img {


}