/*NORMALIZE*/
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px; }

.container-fluid {
  padding: 0; }

.favicon {
  width: 1rem;
  height: 1rem; }

/**/
.contenedor-principal {
  background-color: #F5F5F5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.1rem; }

/*HEADER*/
#header {
  background: linear-gradient(to right, #8E0E00, #1F1C18);
  border-bottom: 1px solid #1F1C18;
  padding: 0; }

.nav-logo-link {
  width: 60%; }

#header img {
  height: 3rem;
  width: 100%; }

.nav-link {
  text-align: right;
  padding-right: 0.5rem !important;
  font-weight: 500; }

/*BANNER*/
.banner-img img {
  width: 100%; }

/*FOOTER*/
#footer {
  width: 100%;
  background-color: #1F1C18;
  border-top: 1px solid #1F1C18;
  display: flex;
  flex-direction: column;
  align-items: center; }

.box-redes-sociales {
  width: 70%;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.text-creador {
  margin: 0;
  padding: 0rem .4rem;
  font-size: 1.1rem;
  color: #F5F5F5; }
  .text-creador span {
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0rem;
    font-size: 1.2rem; }

.fab {
  color: #F5F5F5; }

/*INDEX-MAIN*/
#main {
  width: 90%;
  padding: 2.5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.box-parrafo-index {
  margin: 2rem 0rem 4rem 0rem;
  border-radius: 1%; }
  .box-parrafo-index p {
    background-color: #F5F5F5;
    margin-bottom: 0;
    padding: .725rem;
    font-weight: 500; }

.titulo-principal {
  background-color: #F5F5F5;
  margin: 3rem 0rem 0rem 0rem;
  padding: 0rem;
  text-align: center;
  font-weight: bold; }

.box-imagenes-index {
  width: 100%;
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .box-imagenes-index img {
    width: 18.125rem;
    height: 18.125rem;
    object-fit: cover; }

/*INDEX*/
/*DISCOGRAFIA*/
.box-discografia {
  width: 100%;
  height: 124rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.img-discografias {
  width: 18.125rem;
  height: 18.125rem;
  border: 1.5px solid #1F1C18; }

.box-media {
  width: 100%;
  height: 70rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.box-spotify {
  border-radius: 5px; }

.box-youtube {
  width: 100%;
  height: 43.75rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

/*Galeria*/
.carousel {
  width: 100%; }

.carousel-img {
  height: 18.75rem;
  object-fit: cover; }

.gallery {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.gallery-img {
  width: 18rem;
  height: 16rem; }

/*MEDIA*/
.box-media-live {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.live-title {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: #1F1C18;
  text-align: center; }

.media-live {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

/**NOTICIAS*/
.box-noticias {
  width: 100%;
  height: 150rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.box-noticias1 {
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.box-noticias2 {
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.noticias-img {
  height: 12rem;
  object-fit: cover; }

@media only screen and (min-width: 768px) {
  .nav-logo-link {
    width: 45%; }
  #header img {
    height: 3rem;
    width: 100%; }
  .banner-img {
    width: 100%; }
    .banner-img img {
      height: 25rem;
      object-fit: cover; }
  .box-imagenes-index {
    height: 50rem;
    flex-direction: row;
    flex-wrap: wrap; }
  .box-discografia {
    height: 70rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .box-media {
    height: 45rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .box-spotify {
    height: 45rem; }
  .box-youtube {
    width: 50%;
    height: 45rem;
    padding-left: 3.85rem;
    margin-top: 0; }
  .carousel-img {
    height: 24rem; }
  .gallery {
    gap: .6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10rem;
    grid-template-areas: "img3 img3 img4 img5"
"img3 img3 img6 img6"
"img3 img3 img2 img2"
"img1 img1 img2 img2"
"img7 img8 img8 img8"
"img7 img8 img8 img8"
"img10 img10 img11 img11"
"img10 img10 img11 img11"
"img14 img14 img9 img13"
"img12 img12 img12 img12"
"img12 img12 img12 img12"
"img15 img15 img16 img16"
"img17 img17 img18 img18"
"img17 img17 img18 img18"
"img23 img23 img23 img23"
"img23 img23 img23 img23"
"img20 img20 img21 img22"
"img20 img20 img19 img19"
"img20 img20 img19 img19"; }
  .box-gallery-img {
    height: 100%;
    width: 100%;
    margin: 0; }
  .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .img1 {
    grid-area: img1; }
  .img2 {
    grid-area: img2; }
  .img3 {
    grid-area: img3; }
  .img4 {
    grid-area: img4; }
  .img5 {
    grid-area: img5; }
  .img6 {
    grid-area: img6; }
  .img7 {
    grid-area: img7; }
  .img8 {
    grid-area: img8; }
  .img9 {
    grid-area: img9; }
  .img10 {
    grid-area: img10; }
  .img11 {
    grid-area: img11; }
  .img12 {
    grid-area: img12; }
  .img13 {
    grid-area: img13; }
  .img14 {
    grid-area: img14; }
  .img15 {
    grid-area: img15; }
  .img16 {
    grid-area: img16; }
  .img17 {
    grid-area: img17; }
  .img18 {
    grid-area: img18; }
  .img19 {
    grid-area: img19; }
  .img20 {
    grid-area: img20; }
  .img21 {
    grid-area: img21; }
  .img22 {
    grid-area: img22; }
  .img23 {
    grid-area: img23; }
  .media-live {
    height: 55rem; }
  .live-title {
    margin-bottom: 1.25rem; }
  .media-live iframe {
    width: 30rem;
    height: 17rem; }
  .box-noticias {
    height: 87rem;
    display: flex;
    margin: 3rem 0rem;
    flex-direction: row;
    justify-content: space-between; }
  .box-noticias1 {
    width: 45%;
    height: 100%;
    justify-content: space-between; }
  .box-noticias2 {
    width: 45%;
    height: 100%;
    justify-content: space-between; }
  .card {
    position: relative; }
  .card-body {
    height: 11.375rem; }
  .btn-noticias {
    position: absolute;
    bottom: .825rem;
    left: 1.25rem; } }

@media only screen and (min-width: 1024px) {
  .navbar-collapse {
    justify-content: end; }
  .nav-logo-link {
    width: 30%; }
  .nav-link:hover {
    text-decoration: underline; }
  #header img {
    height: 3rem;
    width: 100%; }
  .banner-img img {
    height: 35rem;
    object-fit: cover; }
  .box-imagenes-index {
    height: 50rem;
    flex-direction: row;
    flex-wrap: wrap; }
    .box-imagenes-index img {
      width: 45%; }
  #footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
  .text-creador {
    padding-left: 2rem; }
  .box-redes-sociales {
    width: 40%;
    padding: 1rem 2rem; }
  .fab {
    transition: all .4s ease-in-out; }
  .fab:hover {
    transform: rotate(360deg); }
  .box-discografia {
    height: 90rem;
    display: flex;
    flex-direction: row; }
    .box-discografia a {
      transition: all .5s ease-in-out;
      height: 25rem;
      width: 25rem; }
      .box-discografia a:hover {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important; }
  .img-discografias {
    width: 25rem;
    height: 25rem;
    margin: 0 !important; }
  .box-media {
    width: 100%;
    height: 55rem;
    margin-bottom: 4rem;
    justify-content: space-evenly;
    align-items: flex-start; }
  .box-media iframe {
    width: 25rem;
    padding-left: .3125rem; }
  .box-youtube {
    width: 25rem;
    height: 55rem;
    padding: 0rem; }
    .box-youtube iframe {
      height: 12rem; }
  .box-spotify {
    width: 25rem;
    height: 55rem; }
  .carousel-img {
    height: 32rem; }
  .gallery {
    grid-template-rows: 13.75rem; }
  .gallery-img:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(0.975); }
  .media-live {
    height: 85rem; }
    .media-live iframe {
      width: 43rem;
      height: 25rem; }
  .live-title {
    margin-bottom: 1.25rem; }
  .box-noticias {
    height: 88rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .box-noticias1 {
    width: 45%;
    height: 100%;
    justify-content: space-between; }
  .box-noticias2 {
    width: 45%;
    height: 100%;
    justify-content: space-between; }
  .card {
    width: 100%; }
  .card-img-top {
    height: 15rem; }
  .card-body {
    height: 11rem;
    font-size: 1.2rem; }
  .main-contacto {
    height: 34.5rem;
    justify-content: center; } }
