/*FOOTER*/


#footer {
    width: 100%;
    background-color: $color-gradiente2;
    border-top: 1px solid #1F1C18;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-redes-sociales {
    width: 70%;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-creador {
    margin: 0;
    padding: 1rem .8rem;
    text-align: center;
    font-size: 1.1rem;
    color: $color-texto;
    a {
        text-decoration: none;
        color: $color-texto;
        text-decoration: underline;
        font-style: italic;
        letter-spacing: 0rem;
        font-size: 1.2rem;
    }
}



.fab {
    color: $color-principal;
}
