/*INDEX-MAIN*/

#main {
    width: 90%;
    padding: 2.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box-parrafo-index {
    margin: 2rem 0rem 4rem 0rem;
    border-radius: 1%;
}

.titulo-principal {
    background-color: $color-principal;
    margin: 3rem 0rem 0rem 0rem;
    padding: 0rem;
    text-align: center;
    font-weight: bold;
}

.box-parrafo-index p {
    background-color: $color-principal;
    margin-bottom: 0;
    padding: .725rem;
    font-weight: 500;
}

.box-imagenes-index {
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box-imagenes-index img {
    width: 18.125rem;
    height: 18.125rem;
    object-fit: cover;
}
