        /**NOTICIAS*/


.box-noticias {
    width: 100%;
    height: 150rem;
    @include flex-noticias
}

.card {
    width: 90%;
}

.box-noticias1 {
    height: 100rem;
    @include flex-noticias
}

.box-noticias2 {
    height: 100rem;
    @include flex-noticias
}

.noticias-img {
    height: 12rem;
    object-fit: cover;
}
