@media only screen and (min-width:600px) {


    .box-discografia {
        height: 135rem;
        a {
            width: 70%;
        }
    }
    
    .media-live {
        width: 90%;
        iframe {
            height: 20rem;
        }
        }

    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-body {
        height: 10rem;
    }
    
    }