@media only screen and (min-width: 768px) {


    .nav-logo-link {
        width: 45%;
    }

    #header img {
        height: 3rem;
        width: 100%;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        height: 25rem;
    }

    .box-imagenes-index {
        height: 50rem;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .box-discografia {
        height: 70rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    
    .box-media {
        height: 45rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .box-spotify {
        height: 45rem;
    }
    
    .box-youtube {
        width: 50%;
        height: 45rem;
        padding-left: 3.85rem;
        margin-top: 0;
    }

    .carousel {
        width: 100%;
    }

    .carousel-img {
        height: 24rem;
        object-fit: cover;
    }

    .gallery {
        gap: .9375rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 10rem;
        grid-template-areas: 
        "img3 img3 img4 img5"
        "img3 img3 img6 img6"
        "img3 img3 img2 img2"
        "img1 img1 img2 img2"
        "img7 img8 img8 img8"
        "img7 img8 img8 img8"
        "img10 img10 img11 img11"
        "img10 img10 img11 img11"
        "img14 img14 img9 img13"
        "img12 img12 img12 img12"
        "img12 img12 img12 img12"
        "img15 img15 img16 img16"
        "img17 img17 img18 img18"
        "img17 img17 img18 img18"
        "img23 img23 img23 img23"
        "img23 img23 img23 img23"
        "img20 img20 img21 img22"
        "img20 img20 img19 img19"
        "img20 img20 img19 img19";
    }

    .box-gallery-img {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .gallery-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img1 {
        grid-area: img1;
    }
    .img2 {
        grid-area: img2;
    }
    .img3 {
        grid-area: img3;
    }
    .img4 {
        grid-area: img4;
    }
    .img5 {
        grid-area: img5;
    }
    .img6 {
        grid-area: img6;
    }
    .img7 {
        grid-area: img7;
    }
    .img8 {
        grid-area: img8;
    }
    .img9 {
        grid-area: img9;
    }
    .img10 {
        grid-area: img10;
    }
    .img11 {
        grid-area: img11;
    }
    .img12 {
        grid-area: img12;
    }
    .img13 {
        grid-area: img13;
    }
    .img14 {
        grid-area: img14;
    }
    .img15 {
        grid-area: img15;
    }
    .img16 {
        grid-area: img16;
    }
    .img17 {
        grid-area: img17;
    }
    .img18 {
        grid-area: img18;
    }
    .img19 {
        grid-area: img19;
    }
    .img20 {
        grid-area: img20;
    }
    .img21 {
        grid-area: img21;
    }
    .img22 {
        grid-area: img22;
    }
    .img23 {
        grid-area: img23;
    }

    .media-live {
        height: 55rem;
    }

    .live-title {
        margin-bottom: 1.25rem;
    }

    .media-live iframe {
        width: 30rem;
        height: 17rem;
    }

    .box-noticias {
        height: 87rem;
        display: flex;
        margin: 3rem 0rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .box-noticias1 {
        width: 45%;
        height: 100%;
        justify-content: space-between;
    }

    .box-noticias2 {
        width: 45%;
        height: 100%;
        justify-content: space-between;
    }

    .card {
        position: relative;
    }

    .card-body {
        height: 11.375rem;
    }

    .btn-noticias {
        position: absolute;
        bottom: .825rem;
        left: 1.25rem;
    }
}
