@media only screen and (min-width:960px) {

    .navbar-collapse {
        justify-content: end;
    }

    .box-discografia {
        height: 70rem;
    }


    .box-media-live {
        height: 84rem;
    }

    .media-live {
        width: 85%;
        iframe {
            height: 23rem;
        }
        }

}