@media only screen and (min-width: 1024px) {

    .navbar-collapse {
        justify-content: end;
    }

    .nav-logo-link {
        width: 30%;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    #header img {
        height: 3rem;
        width: 100%;
    }

    .banner-img img {
        height: 35rem;
        object-fit: cover;
    }

    .box-imagenes-index {
        height: 50rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        img {
            width: 45%;
        }
    }

    #footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .text-creador {
        padding-left: 2rem;
    }

    .box-redes-sociales {
        width: 40%;
        padding: 1rem 2rem;
    }

    .fab {
        transition: all .4s ease-in-out;
    }

    .fab:hover {
        transform: rotate(360deg);
    }

    .box-discografia {
        height: 90rem;
        display: flex;
        flex-direction: row;
        a {
            transition: all .5s ease-in-out;
            height: 25rem;
            width: 25rem;
            &:hover {
                transform: scale(1.1);
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px!important;
            }
        }
        
    }

    .img-discografias {
        width: 25rem;
        height: 25rem;
        margin: 0!important;
    }

    .box-media {
        height: 65rem;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .box-spotify {
        height: 90%;
        padding-top: 8rem;
    }

    .carousel-img {
        height: 32rem;
    }


    .gallery {
        grid-template-rows: 13.75rem;
    }

    .gallery-img:hover {
        transition: all 0.4s ease-in-out;
        transform: scale(0.975);
    }

    .live-title {
        margin-bottom: 1.25rem;
    }

    .box-noticias {
        height: 88rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .box-noticias1 {
        width: 45%;
        height: 100%;
        justify-content: space-between;
    }

    .box-noticias2 {
        width: 45%;
        height: 100%;
        justify-content: space-between;
    }
    

    .card {
        width: 100%;
    }

    .card-img-top {
        height: 15rem;
    }

    .card-body {
        height: 11rem;
        font-size: 1.2rem;
    }

    .main-contacto {
        height: 34.5rem;
        justify-content: center;
    }

}